.title {
    margin-bottom: 20px;
}

h2 {
    text-align: start;
    color: #333;
}

.order p {
    font-size: .9em;
    color: #8a8a8a;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
#add-btn {
    margin-top: 44px;
    padding: 20px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: larger;
    border: none;
    border-radius: 5px;
    align-items: center;
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    align-items: center;
}

/* Select element style */
#permit {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

.selected-permits-container {
    margin-top: 20px;
}

/* Styling for the permit items */
.permit-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.permit-text {
    flex-grow: 1;
    flex-wrap: nowrap;
    font-size: 14px;
    padding-right: 10px;
}

/* File input styling */
.permit-image {
    padding: 5px;
    font-size: 14px;
    width: 50%;
    margin-right: 10px;
}

.close-btn {
    background-color: #FF6F61;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.close-btn i {
    font-size: 16px;
}

/* Hover effect for close button */
.close-btn:hover {
    background-color: #e14e3d;
}


input[type="file"] {
    font-size: 14px;
}

.btn:hover {
    background-color: #45a049;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(37, 255, 37, 0.7);
}

.tour-image-preview-container {
    display: none;
    margin-top: 20px;
}

.main-image {
    text-align: center;
    margin-bottom: 10px;
}

.main-image img {
    max-width: 400px;
    /* Adjust as necessary */
    max-height: 300px;
    object-fit: cover;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.thumbnail-images {
    display: flex;
    gap: 10px;
    scrollbar-width: none;
    overflow-x: scroll;
}

.thumbnail-images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: transform 0.2s;
}

.thumbnail-images img:hover {
    transform: scale(1.1);
}

.thumbnail-images img.selected {
    border-color: #007bff;
    /* Highlight the selected main image */
}

.form-group {
    display: flex;
    align-items: center;
    gap: 25px;
}
.form-group.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.input-group {
    width: 100%;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio {
    display: flex;
    align-items: center;
}

.radio label {
    font-size: 1.2em;
    margin-top: 0;
}

.radio input[type="radio"] {
    width: 50px;
    height: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="datetime-local"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.btn-submit {
    display: block;
    width: 300px;
    float: right;
    padding: 10px;
    margin-top: 30px;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #218838;
}


.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.section-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #93938b;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 0 10px;
}

/* Divider styling */
.section-divider {
    flex-grow: 1;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.section-title span,
label span {
    color: #e77173;
    font-weight: lighter;
    font-size: 0.8em;
    margin-left: 5px;
}

.section-title span.opt,
label span.opt {
    color: #52aa6f;
}

.image-preview {
    display: none;
    width: 50vw;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}