.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  z-index: 1000;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #ededed;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
  padding: 30px;
  position: relative;
  transform: scale(0.9);
  transition: transform 0.4s ease-in-out;
}

.modal-content.show {
  transform: scale(1);
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ff4d4f;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  transition: background 0.3s ease;
}

.closeBtn:hover {
  background: #ff7875;
}

/* Error Message Styles */
.error-message {
  color: #ff4d4f;
  text-align: right;
  font-size: 13px;
  margin-right: 10px;
  top: 0px;
  }

/* Form Container Styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Input Field Styles */
.form-container input {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
  color: #333;
  width: 100%;
  transition: border 0.3s ease;
}

.form-container input:focus {
  border-color: #007BFF;
  outline: none;
}

/* Button Styles */
.form-container button {
  padding: 12px;
  background-color: #007BFF;
  margin-top: 15px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container #forgot-password {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #007BFF;
}

.hidden {
  display: none;
}

.form-container #forgot-password:hover {
  color: #0056b3;
}

.form-container p {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.form-container a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s ease;
}

.form-container a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Slide-in Animation */


/* Checkbox Styles */
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox input {
  margin-right: 8px;
}

.form-container.slide-in {
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}